* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

#container {
    width: 100%;
    height: 100vh;
    background: #A9D6E5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#generator-div {
    width: 900px;
    height: 600px;
    border-radius: 20px;
    background: #E2E2E2;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#title {
    width: 756px;
    height: 80px;
    background: #19747E;
    border-radius: 35px;
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
}

#title h3 {
    font-weight: 500;
    font-size: 40px;
    align-self: center;
    color: #08383E;
}

#output {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    color: #2E2E2E;
    font-size: 20px;
    font-weight: 400;
}

#pwd-output{
    width: 688px;
    height: 52px;
    margin-top: 10px;
    color: #08383E;
    font-size: 32px;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    background: #E2E2E2;
}

#length-div {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    color: #2E2E2E;
    font-size: 20px;
    font-weight: 400;
}

#slider {
    width: 688px;
    height: 12px;
    margin-top: 10px;
    appearance: none;
    border-radius: 5px;
    background: #D9D9D9;
}

#slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: #19747E;
    border-radius: 50%;
    cursor: pointer;
    transition: outline 0.1s;
}

#slider::-webkit-slider-thumb:hover {
    outline: 7px solid rgba(0, 0, 0, 0.1);
}

/* firefox compatibility */
#slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #19747E;
    cursor: pointer;
    transition: outline 0.1s;
  }

#slider::-moz-range-thumb:hover {
    outline: 7px solid rgba(0, 0, 0, 0.1);
}

#buttons-div {
    margin-top: 50px;
    display: flex;
    gap: 78px;
}

.btn {
    background: #D9D9D9;
    color: #08383E;
    font-size: 20px;
    width: 165px;
    height: 50px;
    border: none;
    border-radius: 15px;
    transition: background 0.2s, color 0.2s, opacity 0.2s;
    cursor: pointer;
}

.btn:hover {
    background: #08383E;
    color: #D9D9D9;
}

.btn:active {
    opacity: 0.7;
}

#refresh {
    width: 50px;
    height: 50px;
    font-size: 40px;
    border: none;
    background: none;
    --ionicon-stroke-width: 20px;
    color: #0A4349;
    border-radius: 50%;
    transition: background 0.2s;
}

#refresh:hover {
    background: rgba(0, 0, 0, 0.18);
    cursor: pointer;
}

#refresh:active {
    background: rgba(0, 0, 0, 0.08);
}

#refresh.rotate {
    animation: rotate-check .8s;
}

#check-boxes-div {
    display: flex;
    gap: 155px;
    margin-top: 73px;
}

.check-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    align-content: center;
    text-align: center;
}

.check-container span {
    color: #08383E;
}

.check-container input {
    appearance: none;
    width: 30px;
    height: 30px;
    background: #E5E5E5;
    border: 2px solid #D9D9D9;
    border-radius: 5px;
}

.check-container input:checked {
    /* inverted colors so the check icon is white */
    background: #19747E url(checkmark-outline.svg);
    mix-blend-mode: difference;
    background-color: #e68b81;
    border: #262626;
}

@keyframes rotate-check {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}